<h1>Admin Menu</h1>
<%= link_to "Employees arriving late", late_entries_path, class: "btn btn-primary btn-lg btn-block" %>
<%= link_to "Employees with absences", employees_absences_path, class: "btn btn-primary btn-lg btn-block" %>
