<h1>Admin Menu</h1>
<button type="button" class="btn btn-primary btn-lg btn-block">Employees arriving late</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Employees with absences</button>
