<div id="barcodebox" style="margin-top:10px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Working Hours Report</div>
    </div>
    <div style="padding-top:30px" class="panel-body" >
      <%= form_tag working_hours_path do %>
        <%= label_tag "Badge Barcode" %>
        <p>
          Please type your badge card carcode and press Continue.
        </p>

        <div class="form-group form-group-md input-group">

          <div class="input-group-addon">
            <span class="glyphicon glyphicon-credit-card"></span>
          </div>
          <%= text_field_tag :barcode, nil, required: true, autofocus: true, class: "form-control" %>
        </div>
        <%= submit_tag "Continue", class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
  <p class="well">IMPORTANT: Remember that you can review your Working Hours Report <strong>ONLY 3 days before</strong> the payday date.</p>
</div>
