<div class="jumbotron">
  <h1>Textile.Co.</h1>
  <h2>Welcome to punchout app</h2>
  <p>Instructions:</p>
  <ul>
    <li>
      As Textile. Co. employee you should have a BADGE card printed with a unique barcode,
      each employee has a different BADGE card.
    </li>
    <li>
      You can review your current period Working Hours Report
      (only 3 days before the paycheck day).
    </li>
    <li>
      Please click the following button to review your Working Hours Report,
      Remember to have your Badge Card at hand, you will need your barcode number:
    </li>
  </ul>
  <p><%= mail_to "alan.maciel.salcedo@gmail.com", "Help and support" %></p>
  <%= link_to "Working Hours Report", employee_menu_path,  class: "btn btn-primary btn-lg", role: "button"%>
</div>
